<div class="card post-card">
  <header class="card-header">
    <p class="card-header-title">
      {{title}}
    </p>
  </header>
  <div class="card-content post-content">
    <p>{{excerpt words="33"}}</p>
  </div>
</div><br>
