<header
  {{#if @site.cover_image}}
    style="background-image: url({{@site.cover_image}})"
  {{/if}}>
  {{#if @site.logo}}
    <a href="{{@site.url}}">
      <img src="{{@site.logo}}" alt="{{t "Logo"}}">
    </a>
  {{/if}}
  <h1 class="title">Title</h1>
  <h2 class="subtitle">Subtitle</h2>
</header>
