<footer class="footer">
  <div class="content has-text-centered">
    <p>
      Copyright © 2019 Stephen Wu.<br>
      Built with <a target="_blank" href="https://bulma.io/">Bulma</a> and <a target="_blank" href="https://ghost.org">Ghost</a>.
    </p>
  </div>
</footer>
