<center>
  <h1 class="title">{{tag.name}}</h1>
  <h2 class="subtitle">
    {{#if tag.description}}
      {{tag.description}}
    {{else}}
      {{! Bug: For special tag pages like Projects/Articles/Ideas,
          pagination is not populated, so we just show no description here.
          Instead, add a description to the tag!
      }}
      {{#if pagination}}
        A collection of {{plural pagination.total empty='posts' singular='% post' plural='% posts'}}
      {{/if}}
    {{/if}}
  </h2>
</center>
<br>
