{{!< default}}

<center>
  <img src={{asset "public/404-ghost.png"}}/>

  <h1 class="title is-1">{{code}}</h1>
  <h2 class="subtitle">{{message}}</h2>
  <a class="error-link" href="{{@blog.url}}">Go to the front page →</a>
</center>
