{{!< default}}

{{#page}}
<div class="card">
  <div class="card-content post-content">
    {{content}}
  </div>
</div><br>
{{/page}}

<hr>

<h1 class="title">Projects</h1>

{{#get "posts" filter="tag:projects" limit=3}}
  {{> "post-card-loop"}}
{{/get}}
<a class="button is-primary" href="projects">Read More</a>

<hr>

<h1 class="title">Articles</h1>

{{#get "posts" filter="tag:articles" limit=3}}
  {{> "post-card-loop"}}
{{/get}}
<a class="button is-primary" href="articles">Read More</a>
