{{!< default}}

{{#page}}
<div class="card">
  <div class="card-content post-content">
    {{content}}
  </div>
</div><br>
{{/page}}

<center><h1 class="title">Projects</h1></center><br>

{{#get "posts" filter="tag:projects" limit=3}}
  {{> "post-card-loop"}}
{{/get}}

<center><h1 class="title">Articles</h1></center><br>

{{#get "posts" filter="tag:articles" limit=3}}
  {{> "post-card-loop"}}
{{/get}}
