{{!< default}}

<section class="section">
  <div class="container">

    {{#get "posts" filter="tag:me" limit=1}}
      {{#foreach posts}}
        <div class="card">
          <div class="card-content post-content">
            {{content}}
          </div>
        </div><br>
      {{/foreach}}
    {{/get}}

    <center><h1 class="title">Projects</h1></center><br>

    {{#get "posts" filter="tag:projects" limit=3}}
      <div class="post-feed">

        {{#foreach posts}}
          {{> "post-card"}}
        {{/foreach}}
      </div>
    {{/get}}

    <center><h1 class="title">Articles</h1></center><br>

    {{#get "posts" filter="tag:articles" limit=3}}
      <div class="post-feed">
        {{#foreach posts}}
          {{> "post-card"}}
        {{/foreach}}
      </div>
    {{/get}}
  </div>
</section>
