/* Header */

.site-header {
  background-color: $site-header-background-color;

  .title,
  .subtitle {
    color: $site-header-color;
  }
}

.navbar-menu {
  .navbar-end {
    .navbar-item {
      &:last-child {
        margin-right: 15px;
      }
    }
  }

  svg {
    display: none;
  }

  @media screen and (min-width: 1088px) {
    svg {
      display: inline;
      height: 20px;
      width: 20px;
      fill: white;
      margin-right: 5px;
    }
  }
}

/* Post Cards */

.posts-card-row {
  padding: 0;
}

.post-tile {
  padding: 10px;
}

.post-card {
  width: 100%;
  height: 100%;

  &:hover {
    /* Casper card magnify */
    transition: all 0.4s ease;
    transform: translate3D(0, -1px, 0) scale(1.02);

    header {
      background-color: $card-header-hover-background-color;
    }
  }

  .post-card-link {
    color: $body-color;
  }

  header {
    padding: 10px 15px;
    display: block;
    background-color: $card-header-background-color;

    .title,
    .subtitle {
      color: $card-header-color;
    }
  }
}

/*
  Post/Page Content
  Some styles from Ghost Koenig Styles from Casper:
  https://github.com/TryGhost/Casper/blob/master/assets/css/screen.css#L1835
*/

.post-container {
  max-width: 890px;
  padding: 1rem;
}

.post-header {
  text-align: center;
}

.post-content,
.page-content {
  display: flex;
  font-size: 1.1em;
  flex-direction: column;

  p:first-child {
    font-size: 1.25em;
    line-height: 1.5em;
  }

  p:not([class]),
  ul:not([class]),
  ol:not([class]),
  dl:not([class]) {
    margin: 0 0 1.5em 0;
  }

  ul:not([class]) {
    list-style: disc;
  }

  ol:not([class]),
  ul:not([class]) {
    padding-left: 1.3em;
    padding-right: 1.5em;

    ol:not([class]),
    ul:not([class]) {
      margin: 0.5em 0 1em;
    }

    li:not([class]) {
      margin: 0.5em 0;
      padding-left: 0.3em;
      line-height: 1.6em;
    }
  }

  figcaption {
    margin: 1em 0 0;
    font-size: 80%;
    line-height: 1.6em;
    text-align: center;
  }

  iframe {
    margin: 0 auto !important;
  }

  blockquote {
    // Use Bulma's Message Body: https://bulma.io/documentation/components/message/#message-body-only
    @extend .message;
    @extend .message-body;
    border-color: $info;
    font-style: italic;
  }

  pre {
    code {
      padding: 0;
      font-size: inherit;
      line-height: inherit;
      background: transparent;
    }
  }

  code {
    padding: 0 5px 2px;
    font-size: 0.8em;
    line-height: 1em;
    font-weight: 400 !important;
    background: $code-background-color;
    border-radius: 3px;
  }

  /*
  Bulma overrides -- from Casper theme
  ":not([class]):not(:empty)" is added to hit only these elements with no other class (e.g. from the editor)
  */

  h1:not([class]) {
    @extend .title;
    @extend .is-2;
  }

  h2:not([class]) {
    @extend .title;
    @extend .is-3;
  }

  h3:not([class]) {
    @extend .title;
    @extend .is-4;
  }

  h4:not([class]) {
    @extend .title;
    @extend .is-5;
  }

  h5:not([class]) {
    @extend .title;
    @extend .is-6;
  }

  h6:not([class]) {
    @extend .title;
    @extend .is-7;
  }
}

.author-card {
  .avatar-wrapper {
    svg {
      border-radius: 50%;
      background-color: $black;
    }
  }

  .media-content {
    .author-card-name {
      margin-bottom: 0.2em;
    }

    margin: auto 1em;
  }
}

/* Subscription modal */

.subscribe-modal {
  text-align: center;
  position: fixed /* This gets overriden elsewhere */;
  opacity: 0;

  &.is-active {
    opacity: 1;
    transition: opacity 0.2s ease-in;
    -moz-transition: opacity 0.2s ease-in;
    -webkit-transition: opacity 0.2s ease-in;
  }

  .modal-card-head {
    background-color: $black-ter;

    .modal-card-title {
      color: $white;
    }
  }

  .modal-card-foot {
    display: block;
  }

  input {
    border-color: $grey-lighter
      /* For some reason, this is transparent otherwise */;
  }
}

.post-footer {
  margin-top: 1em;

  .author-card {
    margin-top: 2em;
  }
}
