@charset "utf-8";

@import "bourbon";

@import "../../node_modules/bulma/bulma";
@import "../../node_modules/bulma/sass/utilities/_all";

.kg-image-card {
  // Post image figure
}

.kg-width-wide {
  // Wide post figure
}

.kg-width-full {
  // Full width post figure
}

.kg-image {
  // Post image
}

.kg-embed-card {
  // Post embeded iframe content
}

.kg-gallery-container {
  // Post gallery container
}

.kg-gallery-row {
  // Post gallery row
}

.kg-gallery-image {
  // Post gallery image
}

/* Post Cards */

.post-card-header {
  padding: 10px 15px;
  display: block;
}

.post-card-published-at {
  display: inline-block;
}

.posts-card-loop > .tile {
  padding: 0;
}

.post-card-parent {
  padding: 10px;
}

.post-card {
  width: 100%;
  height: 100%;
}

.post-card:hover {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  -webkit-transform: translate3D(0, -1px, 0) scale(1.04);
  transform: translate3D(0, -1px, 0) scale(1.04);
}

/* Bulma overrides */

iframe {
  height: 100%;
}

.footer {
  padding: 3rem 1.5rem; /* from: 3rem 1.5rem 6rem */
}
