/* Bulma overrides */

$footer-padding: 3rem 1.5rem; /* from Bulma: 3rem 1.5rem 6rem */

/* Custom variables in screen */

$card-header-background-color: hsl(0, 0%, 14%) /* $black-ter from Bulma */;
$card-header-hover-background-color: hsl(0, 0%, 4%) /* $black from Bulma */;
$card-header-color: hsl(0, 0%, 96%);
